<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @walker.name %>, you have a new client request!</h1>
    <p>
      Other stuff!!!!!<br>
    </p>
    <p>
      THINGS!
    </p>
    <p>Love, website</p>
  </body>
</html>