<% if @user.reviews.count < 1 %>
  <div class="well"> No reviews yet! </div>
  <% else %>
    <% @user.reviews.each do |review| %>
        <div class="well">
        <h4>Pet owner: <%= User.find(review.owner_id).name %></h4>
        <h5>Rating: </h5><p><%= review.rating %>/10</p>
        <h5>Review: </h5><p><%= review.content %></p>
      </div>
        <% end %><br />
  <% end %>