<% if @reviews %>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-xs-12">
        <div class="well well-sm">
          <h4>Pet owner:</h4>
            <p><%= review.owner.name %></p>
          <h4>Rating:</h4>
            <p><%= review.rating %>/10</p>
          <h4>Review: </h4>
            <p><%= review.content %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="well"> No reviews yet! </div>
  <br />
<% end %>