<% if @reviews %>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-xs-12">
        <div class="well well-sm">
          <h4><%= review.content %></h4>
          <h4><% review.rating.times do |star| %><span class="star">&#9733;</span><%end%> <small>out of 10</small></h4>
          <p>by <%= review.owner.name %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="well"> No reviews yet! </div>
  <br />
<% end %>
