@import url(http://fonts.googleapis.com/css?family=Elsie:400,900);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);

/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

#page-body {
  margin-top: 35px;
}

.navbar-header {
  padding-top: 15px;
}

.navbar {
  height: 75px;
  background-color: #55008F;
  border-bottom: none;
}

ul.nav.navbar-nav.pull-right li a {
  color: white;
  padding: 25px;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

ul.navbar-nav li a.navbar-brand {
  color: white;
  padding: 25px;
  font-family: Raleway;
  font-size: 36px;
}

h1, h2, h3 {
  font-family: Raleway;
  line-height: 1;
}

h1 {
  margin-top: 20px;
  margin-bottom: 25px;
}

h4, h5, p, td {
  font-family: 'Merriweather', serif;
}

li {
  margin-left: -25px;
  font-family: 'Merriweather', serif;
}

.home-header {
  font-size: 48px;
}

.subheader1 {
  font-size: 36px;
  margin-top: -50px;
}

.subheader2 {
  font-size: 26px;
  padding-top: 10px;
}

.spaced {
  margin: 10px;
}

.bs-generic {
  margin-top: 15px;
  margin-bottom: 25px;
  /*border-radius: 10px;*/
  padding: 15px;
}

.walkers {
  margin-top: 10px;
  margin-bottom: 100px;
  min-height: 300px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.photo-lg > img {
  max-width: 250px;
}

.photo-sm > img {
  max-width: 100px;
}

.links {
  margin-top: 10px;
}

a:hover {
  color: #55008F;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
}

a {
  color: #6F00BA;
}

.btn-primary {
  background-color: #55008F;
  border: #55008F;
  font-family: 'Raleway', sans-serif;
}

.btn-primary:hover {
  background-color: #6F00BA;
  border: #55008F;
}

.btn-primary:active{
  background-color: #6F00BA;
  border: #55008F;
}

.star {
  color: #55008F;
}

.dog-stats h5 {
  padding-top: 5px;
}

#pets-index td, th {
  width: 75px;
  padding: 10px;
  border-bottom: 1px solid black;
}

#pets-index a {
  color: purple;
  font-weight: bold;
}

#pets-index .links {
  width: 50px;
}

.index-table td, th {
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.footer {
  background-color: #55008F; 
  color: white; 
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400, serif;
}

.footer a {
  color: white;
  font-size: 14px;
}

.footer a:hover {
  color: red;
}

