
body {
  background: url("dog_cat.jpg");
  background-size: cover;
  background-attachment:fixed;
}

.photo-lg > img {
  max-width: 300px;
}

.photo-sm > img {
  max-width: 100px;
}

.links {
  margin-top: 10px;
}

a:hover {
  text-decoration: none !important;
}

.panel-heading {
  color: #888 !important;
  background-color: black !important;
}

